.header-container {
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: wheat;
  border-width: 4px;
  padding: 10px;
  background-color: #fff7ed;
}

.header-logo {
  width: 10%;
  height: 10%;
}

.header-title {
  width: 80%;
  text-align: center;
}

.footer-container {
  justify-items: center;
}

.footer-title {
  font-style: italic;
}
