.container {
  height: max-content;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}
.header-container {
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: wheat;
  border-width: 4px;
  padding: 10px;
  background-color: #fff7ed;
}

.header-logo {
  width: 10%;
  height: 10%;
}

.header-title {
  width: 80%;
  text-align: center;
}

.header-title p {
  font-style: italic;
}

.navbar {
  display: flex;
  justify-content: left;
  background-color: white;
  border: 0 1 1 1;
}

.navbar a {
  font-style: bold;
}

.footer-container {
  justify-items: center;
}

.footer-title {
  font-style: italic;
}
